// Colors
$colors: (
    "blue": #2196F3,
    "green": #689F38,
    "yellow": #FBC02D,
    "cyan": #00BCD4,
    "pink": #E91E63,
    "indigo": #4E5FBB,
    "teal": #009688,
    "orange": #FF9800,
    "bluegray": #607D8B,
    "purple": #9C27B0,
    "red": #F44336,
    "primary": $primaryColor
) !default;

$emphasis-high:rgba(0,0,0,.87) !default;
$emphasis-medium:rgba(0,0,0,.60) !default;
$emphasis-low:rgba(0,0,0,.38) !default;
$emphasis-lower:rgba(0,0,0,.12) !default;
$overlayColor:#000000 !default;